h1 {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom:25px;
}
.header {
  display:flex;
  flex-wrap: nowrap;
  background: #00000080;
  height: max-content;
  color: white;
  padding: 2em;
  justify-content: start;
  align-items: center;
  gap: 2.5em;
}
.home {
  flex-grow: 1;
  text-align:end;
}
.home > a{
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: font-weight 0.5s ease, font-size 0.5s ease;
}
.home > a > button {
  cursor: pointer;
  color: white;
  background: #00000080;
  border-radius: 15px;
  border: 1px solid black;
  width: 5em;
  font-size: 20px;
  font-family: Kanit;
  transition: background 1s ease, box-shadow 1s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.home > a > button:hover {
  background: black;
  box-shadow: 0 0 5px rgba(0,0,0, 1);
}
.footer {
  background: #00000080;
  height: max-content;
  color: white;
  padding: 1.5em;
  text-align:start;
  width: 100%;
  position: relative;
  bottom : 0;
  left: 0;
  box-sizing: border-box;
  margin-top:auto;
  z-index: -1;
}
.web {
  margin:25px;
}
body {
  background-color: #0f172a ;
  margin: 0;
}
.title-box {
  text-align: center;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left:10px;
  padding-right:10px;
  border-radius: 25px;
  background-image: url(blackpat.jpg);
  background-size: cover;
}
.label {
  background: #00000080;
  border: white 1px solid;
  border-radius: 5px;
  color: white;
  font-family: Kanit;
  font-size: 20px;
  font-weight: normal;
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  backdrop-filter: blur(5px); 
}
.label.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin: 25px;
  box-sizing: border-box;
  width: calc(100% - 50px);
}

.keyboard-button {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 1em;
  justify-content: center;
  text-align: center;
}
.keyboard-button > button {
  background: #00000080;
  border: black 1px solid;
  border-radius: 5px;
  color: white;
  font-family: Kanit;
  font-size: 20px;
  padding: 10px;
  width: 50px;
  height: 50px;
  box-shadow: none;
  font-weight: normal;
  transition: background 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
  cursor: pointer;
  margin:0;
}
.keyboard-button > button:hover {
  background: white;
  color: #030712;
  box-shadow: 0 0 5px #ffffff80;
  border: none;
  font-weight: bold;
}
.cat div:nth-child(odd):not(.tablelang div), .droppy, body.light .sect{
  background-color: #030712;
  color: white;
  padding: 0.5em;
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  border-radius: 5px;
}
details[open] > summary.droppy {
  background-color: white;
  color: #030712;
  transition: background-color 0.5s ease, color 0.5s ease;
}
details > div {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 3s ease, opacity 3s ease, transform 3s ease;
}
details[open] > div {
  opacity: 1;
  transform: translateY(0);
}

.tablelang {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
}

.copy {
  position: absolute;
  right: 0;
  background: #00000080;
  border: white 1px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  font-family: Kanit;
  height: 50px;
  width: 15vw;
  padding: 10px;
  font-size: 20px;
  transition: background 0.5s ease, color 0.5s ease;
}
.copy:hover {
  background: white;
  color: black;
}
.copy.fixed {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  margin: 25px;
}

/* buttons */
.buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  position: fixed;
  inset: auto 15px 15px auto;
}
/* buttons */

/* gotop button */
.gotop {
  width: 5em;
  height: 3em;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: solid 1px black;
  box-shadow:0 0 5px #1e293b80;
  transition: background-color 1s ease, box-shadow 1s ease;
}
.gotop:hover {
  background-color: black;
  box-shadow: 0 0 5px rgba(0,0,0, 1);
}
.uppy {
  filter: invert(1);
  opacity: 0.5;
}
.gotop:hover .uppy {
  transition: opacity 1s ease;  
  opacity: 1;
}
/* gotop button */

/* sectionbtn */
.sectionbtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: solid 1px black;
  box-shadow:0 0 5px #1e293b80;
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
.sectionbtn:hover {
  background-color: black;
  box-shadow: 0 0 5px rgba(0,0,0,1);
}
.sectionbtn:focus {
  outline: none;
}
select.sectionbtn {
  color: rgba(255,255,255,0.5);
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
  font-weight: bold;
}
select.sectionbtn:hover {
  color: white;
}
select.sectionbtn div {
  color: white;
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
}
select.sectionbtn option {
  color: white;
  font-family: 'Kanit', sans-serif;
  background-color:#1f1f1f;
}
/* sectionbtn */

/* themebtn */
.themebtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border: solid 1px black;
  box-shadow:0 0 5px #1e293b80;
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
.themebtn:hover {
  background-color: black;
  box-shadow: 0 0 5px rgba(0,0,0,1);
}
.themeicon {
  filter: invert(1);
  opacity: 0.5;
}
.themebtn:hover .themeicon {
  transition: opacity 1s ease;  
  opacity: 1;
}
/* themebtn */

body::-webkit-scrollbar {
  background: rgba(0,0,0, 0.5);
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
body::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.5);
  border-radius: 25px;
  width: 50%;
  height: 15px;
}

@media (max-width: 767px) {
  .header > div > h1 {
    font-size: 36px !important;
  }
  .header > div > img {
    width: 50px !important;
    height: 50px !important;
  }
  .header {
    gap: 1.5em;
    height: 3em;
  }
}

body.light::-webkit-scrollbar {
  background: rgba(255,255,255, 0.5);
}
body.light::-webkit-scrollbar-thumb {
  background: #94a3b880;
}

body.light .gotop, body.light .themebtn {
  background-color: rgba(255,255,255,0.5);
  border: solid 1px white;
  box-shadow:0 0 5px #e2e8f080;
  transition: background-color 1s ease, box-shadow 1s ease;
}
body.light .gotop:hover, body.light .themebtn:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(255,255,255, 1);
}
body.light .uppy, body.light .themeicon {
  filter: invert(0);
  opacity: 0.5;
}
body.light .sectionbtn {
  background-color: rgba(255,255,255,0.5);
  border: solid 1px white;
  box-shadow:0 0 5px #e2e8f080;
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
body.light .sectionbtn:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(255,255,255,1);
}
body.light select.sectionbtn {
  color: rgba(0,0,0,0.5);
}
body.light select.sectionbtn:hover {
  color: black;
}
body.light select.sectionbtn div {
  color: black;
}
body.light select.sectionbtn option {
  color: black;
  background-color:white;
}

body.light .header, body.light .footer {
  background: #ffffff80;
  color: #13364e;
}
body.light .home>a {
  color: #13364e;
}
body.light .home > a{
  color: #13364e;
}
body.light .home > a > button {
  color: #13364e;
  background: #ffffff80;
  border: 1px solid white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
body.light .home > a > button:hover {
  background: white;
  box-shadow: 0 0 5px rgba(255,255,255, 1);
}

body.light {
  background-color: #cbd5e1 ;
}


body.light .label {
  background: #ffffff80;
  border: #020617 1px solid;
  color: #020617;
}
body.light .keyboard-button > button {
  background: #ffffff80;
  border: white 1px solid;
  color: #020617;
}
body.light .keyboard-button > button:hover {
  background: #020617;
  color: #e2e8f0;
  box-shadow: 0 0 5px #00000080;
  border: #020617 1px solid;
}
body.light .cat div:nth-child(odd):not(.tablelang div), body.light .droppy, .sect{
  background: white;
  color: #020617;
  padding: 0.5em;
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  border-radius: 5px;
}

body.light .copy {
  background: #ffffff80;
  border: #020617 1px solid;
  color: #020617;
}
body.light .copy:hover {
  background: #020617;
  color: white;
}
body.light details[open] > summary.droppy {
  background-color: #030712;
  color: white;
}