h1 {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom:25px;
}
.header {
  display:flex;
  flex-wrap: nowrap;
  background: #00000080;
  height: max-content;
  color: white;
  padding: 2em;
  justify-content: start;
  align-items: center;
  gap: 2.5em;
  border-radius: 0 0 25px 25px;
}
.home {
  flex-grow: 1;
  text-align:end;
}
.home > a{
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: font-weight 0.5s ease, font-size 0.5s ease;
}
.home > a > button {
  position: relative;
  width: 75px !important;
  height: 75px;
  cursor: pointer;
  color: white;
  background: #00000080;
  border-radius: 15px;
  border: none;
  width: 5em;
  font-size: 20px;
  font-family: Kanit;
  transition: background 0.5s ease, box-shadow 0.5s ease;
}
.home > a > button:hover {
  background: black;
}
.home > a > button > img {
  opacity: 50%;
  transition: opacity 0.5s ease;
}
.home > a > button:hover > img {
  opacity: 100%;
}
.home > a > button > div {
  opacity: 0.5;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 50px;
  height: 50px;
  mask-image: url('home-icon.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: white;
  transition: opacity 0.5s ease; 
}
.home > a > button:hover > div {
  opacity: 1;
}
.semiicon {
  width: 75px;
  height: 75px;
  mask-image: url('semi-icon.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: white;
}
.footer {
  background: #00000080;
  height: max-content;
  color: white;
  padding: 1.5em;
  text-align:start;
  width: 100%;
  position: relative;
  bottom : 0;
  left: 0;
  box-sizing: border-box;
  margin-top:auto;
  z-index: -1;
  border-radius: 25px 25px 0 0;
}
.web {
  margin:25px;
}
body {
  background: radial-gradient(circle at center, #496fae40 0%, transparent 75%), #0C101A ;
  background-size: cover;
  height: 100vh;
  margin: 0;
}
.title-box {
  text-align: center;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left:10px;
  padding-right:10px;
  border-radius: 15px;
  background: #293d6380;
}
.label {
  background: #293d6380;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: Kanit;
  font-size: 20px;
  font-weight: normal;
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  backdrop-filter: blur(5px); 
}
.label:focus {
  outline: none;
}
.label.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin: 25px;
  box-sizing: border-box;
  width: calc(100% - 50px);
}

.keyboard-button {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 1em;
  justify-content: center;
  text-align: center;
}
.keyboard-button > button {
  background: #27355340;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: Kanit;
  font-size: 20px;
  padding: 10px;
  width: 50px;
  height: 50px;
  box-shadow: none;
  font-weight: normal;
  transition: background 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
  cursor: pointer;
  margin:0;
}
.keyboard-button > button:hover {
  background: white;
  color: #0C101A;
  border: none;
  font-weight: bold;
}
.cat div:nth-child(odd):not(.tablelang div), .droppy, body.light .sect{
  background-color: #27355340;
  color: white;
  padding: 0.5em;
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  border-radius: 10px;
}
details[open] > summary.droppy {
  background-color: #293d6380;
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}
details > div {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 3s ease, opacity 3s ease, transform 3s ease;
}
details[open] > div {
  opacity: 1;
  transform: translateY(0);
}

.tablelang {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
}

.copy {
  position: absolute;
  right: 0;
  background: #293d6300;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-family: Kanit;
  height: 50px;
  width: 15vw;
  padding: 10px;
  font-size: 20px;
  transition: background 0.5s ease, color 0.5s ease;
}
.copy > div {
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.copy:hover {
  background: white;
  color: black;
}
.copy > div > img {
  transition: filter 0.5s ease;
}
.copy:hover > div > img {
  filter: invert(1);
}
.copy.fixed {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  margin: 25px;
}
.sect {
  background: #293d6380;
  color: white;
  padding: 0.5em;
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  border-radius: 10px;
}
/* buttons */
.buttons {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  gap: 0px;
  inset: auto 15px 15px auto;
}
/* buttons */

/* gotop button */
.gotop {
  width: 5em;
  height: 3em;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.gotop:hover {
  background-color: black;
}
.uppy {
  filter: invert(1);
  opacity: 0.5;
}
.gotop:hover .uppy {
  transition: opacity 0.5s ease;  
  opacity: 1;
}
/* gotop button */

/* sectionbtn */
.sectionbtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.sectionbtn:hover {
  background-color: black;
}
.sectionbtn:focus {
  outline: none;
}
select.sectionbtn {
  color: rgba(255,255,255,0.5);
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
  font-weight: bold;
}
select.sectionbtn:hover {
  color: white;
}
select.sectionbtn div {
  color: white;
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
}
select.sectionbtn option {
  color: white;
  font-family: 'Kanit', sans-serif;
  background-color:black;
}
/* sectionbtn */

/* themebtn */
.themebtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.themebtn:hover {
  background-color: black;
}
.themeicon {
  filter: invert(1);
  opacity: 0.5;
}
.themebtn:hover .themeicon {
  transition: opacity 1s ease;  
  opacity: 1;
}
/* themebtn */

body::-webkit-scrollbar {
  background: #0C101A;
  width: 15px;
  height: 15px;
}
body::-webkit-scrollbar-thumb {
  background: #293d63;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}

@media (max-width: 767px) {
  .header > div > h1 {
    font-size: 36px !important;
  }
  .header > div > img {
    width: 50px !important;
    height: 50px !important;
  }
  .header {
    gap: 1.5em;
    height: 3em;
  }
}

body.light::-webkit-scrollbar {
  background: #ccd6eb ;
}
body.light::-webkit-scrollbar-thumb {
  background: #9fb4da;
}

body.light .gotop, body.light .themebtn {
  background-color: rgba(255,255,255,0.5);
  transition: background-color 1s ease, box-shadow 1s ease;
}
body.light .gotop:hover, body.light .themebtn:hover {
  background-color: white;
}
body.light .uppy, body.light .themeicon {
  filter: invert(0);
  opacity: 0.5;
}
body.light .sectionbtn {
  background-color: rgba(255,255,255,0.5);
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
body.light .sectionbtn:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(255,255,255,1);
}
body.light select.sectionbtn {
  color: rgba(0,0,0,0.5);
}
body.light select.sectionbtn:hover {
  color: black;
}
body.light select.sectionbtn div {
  color: black;
}
body.light select.sectionbtn option {
  color: black;
  background-color:white;
}

body.light .header, body.light .footer {
  background: #ffffff80;
  color: #0C101A;
}
body.light .semiicon {
  background-color: #0C101A;
}
body.light .home > a > button > div {
  background-color: #0C101A;
}
body.light .home>a {
  color: #0C101A;
}
body.light .home > a{
  color: #0C101A;
}
body.light .home > a > button {
  color: #0C101A;
  background: #ffffff80;
}
body.light .home > a > button:hover {
  background: white;
}

body.light {
  background: radial-gradient(circle at center , #9fb4da80 0%, transparent 75%),#ccd6eb ;
}

body.light .title-box {
  color: #020617;
  background: #e8ecf6c0;
}

body.light .label {
  background: #e8ecf6c0;
  color: #020617;
}
body.light .keyboard-button > button {
  background: #ffffff40;
  color: #020617;
}
body.light .keyboard-button > button:hover {
  background: #020617;
  color: #e2e8f0;
}
body.light .cat div:nth-child(odd):not(.tablelang div), body.light .droppy{
  background: #ffffff40;
  color: #020617;
}

body.light .copy {
  background: #e8ecf600;
  color: #020617;
}
body.light .copy > div > img {
  filter: invert(1);
}
body.light .copy:hover {
  background: #020617;
  color: white;
}
body.light .copy:hover > div > img {
  filter: invert(0);
}
body.light details[open] > summary.droppy {
  background-color: #e8ecf6c0;
  color: #020617;
}
body.light .sect {
  background-color: #e8ecf6c0;
  color: #020617;
}